
<h1>Order List</h1>

<h4>
  <ul>
    <% @orders.each do | order | %>

    <p>Order id: <%= link_to order.id, order_path(order.id) %> Total:
      $<%= order.total_cost %>
    </p>

    <% end %>
  </ul>

</h4>
