
<h1>Order List</h1>

<h4>
  <ul>
    <% @orders.each do | order | %>

    <li>Order id:<%= link_to order.id, order_path(order.id) %> Total:
      $<%= order.total %>
    </li>

    <% end %>
  </ul>

</h4>
