
<h4>Total Orders by status:</h4>
<ul>
  <li>
    Pending:  <%= @merchant.total_orders_by_status("pending") %>
  </li>
  <li>
    Paid: <%= @merchant.total_orders_by_status("paid") %>
  </li>
  <li>
    Complete: <%= @merchant.total_orders_by_status("complete") %>
  </li>
  <li>
    Canceled: <%= @merchant.total_orders_by_status("canceled") %>
  </li>
</ul>
