<h1> Items by: <%= @merchant.username %>(Merchants#show)</h1>

<p>Find me in app/views/merchants/show.html.erb</p>

<u>

<li>
  total revenue:
</li>
<li>
  revenue by status:
</li>
  <li>
    Status reveue:
  </li>
  <li>
    Status reveue:
  </li>
<li>
  Drop down select box to dispay orders by status: 

  if dropdown
  dropdown.each do |order|

  link_to Order.id order_path(id) : Order.revenue

</li>
<li>
  total revenue:
</li>
<li>
  total revenue:
</li>
</u>





<%= link_to "Add New Item", new_item_path, method: :get %>
