<h6> YOUR CART</h6>
<% if @order_items != nil%>
Items in your cart:
<ul>

  <% @order_items.each do |oi| %>

  <li>
  <%=  oi.item.name %>
  </li>

  <% end %>

  </ul>
<% else %>
  Is Empty
<% end %>
<p>

</p>
<p>

</p>
<%# raise %>
