<h6> YOUR CART</h6>
<% if @order_items != nil%>
Items in your cart:
<table>
    <thead>
      <th>
        Item
      </th>
      <th>
        Price
      </th>
      <th>
        Quantity
      </th>
      <th>

      </th>
      <th>

      </th>
    </thead>
    <tbody>
      <% @order_items.each do |oi| %>
      <tr>
        <td>
          <%=  oi.item.name %>
        </td>
        <td>
          <%= oi.item.price %>
        </td>
        <td>
          <%= oi.quantity %>
        </td>
        <td>

        </td>
        <td>
          <%= link_to "remove from cart", delete %>
        </td>
      </tr>
      <% end %>
    </tbody>
<% else %>
  Is Empty
<% end %>
<p>

</p>
<p>

</p>
<%# raise %>
