// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  text-align: center;
  background-image: asset_url("dandelion.jpg");
  background-size: cover
}


// footer {
//   text-shadow: 0 2px 2px #000;
//   position: absolute;
//   left: 0;
//   bottom: 0;
//   height: 100px;
//   width: 100%;
//   overflow:hidden;
//   color: white;
// }
