// Place all the styles related to the Merchants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table, th, td {
  color: #233B64;
  font-size: 24px;
}

h4 {
  text-align: left;
  font-weight: bold;
}
